body {
  background-color: grey;
}

header {
  background: black;
  overflow: auto;
  border-bottom: solid yellow 2px;
  font-family: 'anaheim';
}

h1 {
  float: left;
  color: white;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
}

nav {
  float: right;
  color: white;
  font-size: 20px;
  padding: 27px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

nav a:hover {
  color: yellow;
  font-weight: 600;
}

sidebar {
  float: left;
  width: 15%;
}


sidebar h3 {
  color: white;
  font-family: 'anaheim';
  margin-left: 10px;
}

#map {
  float: right;
  width: 85%;
  height: 550px;
}

input {
  border: none;
  border-bottom: 1px solid white;
  background-color: grey;
}

#results {
  height: 100px;
  width: 100px;
  background-color: grey;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 20px;
}

#costWatt {
  height: 100px;
  width: 100px;
  background-color: grey;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 20px;
}

#capacity {
  height: 100px;
  width: 100px;
  background-color: grey;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 20px;
}

#about {
  display: none;
  position:fixed;
  left:50%;        
  top:50%;         
  width:60%;     
  text-align: center;
  padding: 50px;
  margin-top:-20%;
  margin-left:-30%;
  background:#FFFFFF;
  z-index:100000;      
}
