body {
  background-color: grey;
}

header {
  background: black;
  overflow: auto;
  border-bottom: solid yellow 2px;
  font-family: 'anaheim';
}

h1 {
  float: left;
  color: white;
  margin: 10px;
  padding: 10px;
  font-weight: 600;
}

nav {
  float: right;
  color: white;
  font-size: 20px;
  padding: 27px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

nav a:hover {
  color: yellow;
  font-weight: 600;
}

sidebar {
  float: left;
  width: 25%;
}

sidebar img {
padding: 40px;
}

sidebar h3 {
  color: white;
  font-family: 'anaheim';
  margin-left: 10px;
  float: left;
}

#map {
  float: right;
  width: 75%;
  height: 100%;
}



sidebar img {
  float: left;
  height: 200px;
  width: 300px;
}